/** CSS STYLING OF THE GANTT CHART **/

.select_custom_input > div {
  border: 1px !important;
  background-color: var(--color-white-900) !important;
}

.e-gantt .e-gantt-chart .e-gantt-parent-taskbar-inner-div,
.e-gantt .e-gantt-chart .e-gantt-parent-progressbar-inner-div {
  /* background: var(--color-primary-900); */
  background: #adb5bd;
  height: 16px;
}

.e-gantt .e-gantt-chart .e-gantt-child-taskbar-inner-div,
.e-gantt .e-gantt-chart .e-gantt-child-progressbar-inner-div {
  background: var(--color-primary-700);
  height: 16px;
}

/* .e-gantt .e-gantt-chart .e-weekend-header-cell {
  background-color: var(--color-orange-900);
  color: var(--color-white-900);
} */

.gantt_estimate {
  overflow-y: scroll !important;
}

.e-gantt .e-gantt-toolbar {
  padding: 10px;
}

.e-toolbar .e-toolbar-items .e-tbar-btn {
  padding: 10px;
  border: 1px solid var(--color-primary-900);
  border-radius: 5px;
  background: var(--color-white-500) !important;
  height: 38px;
}

.e-toolbar .e-toolbar-items .e-tbar-btn svg {
  color: var(--color-primary-900);
}

.e-toolbar,
.e-toolbar-items {
  background: var(--color-white-500) !important;
}

.e-toolbar .e-toolbar-item .e-tbar-btn .e-tbar-btn-text {
  color: var(--color-primary-900);
  font-size: 16px;
}

.e-toolbar .e-toolbar-item .e-tbar-btn:hover {
  background: var(--color-primary-900) !important;
  border-color: var(--color-white-500);
  border-style: solid;
  border-width: 0;
  border-radius: 2px;
}

.e-toolbar .e-toolbar-item .e-tbar-btn:hover .e-tbar-btn-text,
.e-toolbar .e-toolbar-item .active-primary .e-tbar-btn-text {
  color: var(--color-white-500) !important;
}

.e-toolbar .e-toolbar-item .e-tbar-btn:hover svg,
.e-toolbar .e-toolbar-item .active-primary:hover svg {
  color: var(--color-white-500) !important;
}

.toolbar-item .e-tbar-btn:hover {
  padding: 10px !important;
}

.e-toolbar .e-toolbar-item .e-tbar-btn:hover,
.e-toolbar .e-toolbar-item .e-tbar-btn:focus,
.e-toolbar .e-toolbar-item .e-tbar-btn:active {
  padding: 10px !important;
}

#Default_expandall:hover .e-expandall::before,
#Default_collapseall:hover .e-collapseall::before {
  color: var(--color-white-500);
}

.e-gantt .e-expandall::before,
.e-gantt .e-collapseall::before {
  color: var(--color-primary-900);
}

.e-toolbar .e-toolbar-item .active-primary {
  background: var(--color-primary-900) !important;
}

.e-toolbar .e-toolbar-items .active-primary svg {
  color: var(--color-white-500);
}

.e-toolbar .e-toolbar-items .active-primary svg {
  background: var(--color-primary-900) !important;
}

/* .e-toolbar .e-toolbar-item .e-tbar-btn {

} */

.e-gantt .active-primary .e-expandall::before,
.e-gantt .active-primary .e-collapseall::before {
  color: var(--color-white-500);
}

.submital .css-1xc3v61-indicatorContainer svg {
  color: var(--color-primary-900);
  font-weight: 700;
}
